<div class="creation-menu" id="creation-menu">
    <div class="creation-menu-inner btn-group-vertical" id="creation-menu-inner">
        <button class="btn btn-outline-secondary link" type="button" onclick="toggleCreationMenu()">
            <i class="bi-x icon" title="Закрыть"></i>
        </button>
    </div>
    <button class="btn btn-outline-secondary main-link" type="button" onclick="toggleCreationMenu()">
        <i class="bi-plus icon" title="Открыть меню создния записей"></i>
    </button>
</div>
<record-type-creator :type="i" v-for="i in types"></record-type-creator>