<template id="record-type-template">
    <div class="text-to-borders" v-text='record.content.text'></div>
</template>

<template id="record-type-form-template">
    <div class='form-field'>
        <label class='form-label'>Текст</label>
        <autosize-textarea class="form-control" v-model='record.content.text'></autosize-textarea>
    </div>
</template>

<template id="idea-type-template">
    <div class="text-to-borders" v-text='record.content.text'></div>
</template>

<template id="idea-type-form-template">
    <div class='form-field'>
        <label class='form-label'>Что за идея?</label>
        <autosize-textarea class="form-control" v-model='record.content.text'></autosize-textarea>
    </div>
</template>

<template id="record-modal-page-template">
    <header class="header">
        <div class="title h3 text-center">Мои идеи</div>
    </header>
    {% include 'components/_records_list.html' %}
</template>