<template id="record-modal-template">
    <div class="form">
        <div class="form-field">
            <label class="form-label">
                Дата и время
            </label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="date" v-model="record.$date" placeholder="Date">
                </div>
                <div class="col">
                    <input class="form-control" type="time" v-model="record.$time" placeholder="Time">
                </div>
            </div>
        </div>
        {form}        
    </div>
</template>

<template id="creation-element-template">
    <modal :title="type.title" :id="'add-' + type.uuid">
        <component :is="getModalComponent(type.uuid)" :record="record">
        </component>
        <template v-slot:footer>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="add(record)">
                Создать
            </button>
        </template>
    </modal>
</template>

<template id="record-template">
    <div class="record-preview">
        <modal title="Изменить запись" :id="'editRecord'+id_record">
            <component :is="getModalComponent(type.uuid)" :record="form"></component>
            <template v-slot:footer>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="remove()">
                    Удалить
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="save()">
                    Изменить
                </button>
            </template>
        </modal>
        <i :class="`bi-${type.icon} icon left`"></i>
        <div class="right">
            <div class="content py-1" data-bs-toggle="modal" :data-bs-target="'#editRecord'+id_record">
                {type_template}
            </div>
            <div class="bottom">
                <a class="date" v-text="datetime(record)" :href="url_date(record)"></a>
                <a class="tag" v-for="tag in record.$tags" v-text="'#'+tag" :href="url_tag(tag)"></a>
            </div>
        </div>
    </div>
</template>