{% extends '_diary_page.html' %}

{% block inner %}
<div class="min-vh-100 py-3" id="app">
    <modal title="Изменить дату" id="editDate">
        <div class="form-field">
            <label class="form-label">Новая дата</label>
            <input type="date" class="form-control" v-model="today">
        </div>
        <template v-slot:footer>
            <a class="btn btn-primary" :href="getDateUrl(today)">Перейти</a>
        </template>
    </modal>
    <div class="container">
        <header class="records-header mb-2">
            <span class="title h1" v-text="getFormattedDate(options.date)"></span>
            <small class="btn-change-date" data-bs-toggle="modal" data-bs-target="#editDate">Изменить</small>
        </header>
        {% include 'components/_records_list.html' %}
    </div>
</div>
{% endblock %}