{% extends '_diary_page.html' %}

{% block inner %}
<div class="text">
    <h1>Разработчикам</h1>
    <p>Стандарт хранения данных базы данных
    MyDiary 1 версии.</p>
    <p>Данные хранятся в Indexed Database.</p>
    <p>Indexed Database - это база данных в браузере
    позволяющие хранить сложные объекты.
    Эта база данных работает асинхронно,
    т.е. операции с ней не блокируют сайт.</p>
    <p>Базовая структура тега записи:</p>
    <ul>
        <li><p>name — строка обозначающие название
        тега (без #)</p>
        <li><p>id — Число обозначающие id тега записи
        (не влияет на импорт, удаляется при
        экспорте)</p>
    </ul>
    <p>Тегами на этом сайте являются слово
    (последовательность не пробельных
    символов, отделённая от других пробельным
    символ), которая начинается с # и имеет
    длину больше 1</p>
    <p>Базовая структура записи:</p>
    <ul>
        <li><p>$type — строка обозначающая UUID 1 типа
        записи</p>
        <li><p>$tags — массив из строк, обозначающих
        названия тегов (без #), облегчения
        фильтрации по тегам</p>
        <li><p>$date — строка обозначающая дату в
        формате YYYY-MM-DD, к которой относится эта
        запись</p>
        <li><p>$time — строка обозначающая время в
        формате hh:mm, к которой относится эта
        запись</p>
        <li><p>$changed — количество миллисекунд с
        эпохи Unix, обозначающие дату создания</p>
        <li><p>$created — количество миллисекунд с
        эпохи Unix, обозначающие дату последнего
        изменения</p>
        <li><p>$id — Число обозначающие id записи
        (не влияет на импорт, удаляется при
        экспорте)</p>
    </ul>
    <p>Все имена этих полей начинаются с $,
    что бы избежать конфликта имён</p>
    <p>Базовая структура типа записи:</p>
    <ul>
        <li><p>uuid — строка обозначающая UUID 1 типа
        записи, один UUID — один тип записи,
        добавление типа с тем же UUID — обновление
        этого же типа</p>
        <li><p>id — Число обозначающие id типа записи
        (не влияет на импорт, удаляется при
        экспорте)</p>
        <li><p>title — строка обозначающие человеческое
        название типа на русском языке</p>
        <li><p>description - строка обозначающие
        человеческое описание типа на русском
        языке</p>
        <li><p>icon — строка обозначающая название
        значка в https://icons.getbootstrap.com/, который
        используется для отображения значка
        типа</p>
        <li><p>template - строка обозначающая vue—шаблон,
        который используется для отображения
        предварительного просмотра заметки</p>
        <li><p>form_template - строка обозначающая
        vue—шаблон, который используется для
        модального окна в котором происходит
        присмотр и изменение всей нужной
        информации о заметке,</p>
        <li><p>fields — объект обозначающей настройки
        добавленных в тип записи полей</p>
        <ul>
            <li><p>tags — массив строк, элементами
            которого являются названия полей по
            которым происходит фильтрация тегу</p>
            <li><p>search — массив строк, элементами
            которого являются названия полей по
            которым происходит полнотекстовый
            поиск</p>
            <li><p>require — массив строк, элементами
            которого являются названия обязательных
            полей</p>
        </ul>
        <li><p>page - объект обозначающей настройки
        типа записи, его отсутствие означает,
        что у типа нет своей страницы</p>
        <ul>
            <li><p>title — строка обозначающие человеческое
            название типа на русском языке,
            используется для отображения ссылок
            на страницу типа</p>
            <li><p>template - строка обозначающая vue—шаблон,
            который используется для страницы
            типа записи</p>
        </ul>
    </ul>
    <p>Структура файла экспорта / импорта</p>
    <ul>
        <li><p>version - строка, содержащие версию
        формата (одно натуральное число)</p>
        <li><p>records - массив, элементами которого
        являются записи</p>
        <li><p>types - массив, элементами которого
        являются типы записей</p>
        <li><p>tags - массив, элементы которого
        являются строки, содержащие названия
        тегов (без #)</p>
    </ul>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
