{% extends '_diary_page.html' %}

{% block inner %}



Разработка

Стандарт хранения данных базы данныых MyDiary 1 версии.
Данные хранятся в Indexed Database.
Indexed Database - это база данных в браузере позволяющие хранить сложные объекты. Эта база данных работает ассинхронно, т.е. опреации с ней не блокирутут сайт.

Структура 

Сруктра файла экспорта / импорта
Поле version - строка, содержащие верию формата (одно натуральное число)
Полк records - массив, элементами которого явлются записи
Поле types - массив, элементами которого явлются типы-записей
Поле tags - массив, элементы которого являются строки, содержащие названия тегов (без #)







{% endblock %}

{% block scripts %}
{% endblock %}
