{% extends '_diary_page.html' %}

{% block inner %}
<div class="min-vh-100 py-3" id="app">
    <div class="container">
        <div class="row text-center">
            <div class="col-md mb-3">
                <calendar :id="'calendar'" :first_date="options.date" v-cloak></calendar>
            </div>
            <div class="main-page-tags col-md mb-3">
                <header class="header text-center">
                    <div class="title h3">Теги</div>
                </header>
                <div class="tags">
                    <div class="load" v-if="!tags">
                        <p class="load-text text-center">Загрузка...</p>
                    </div>
                    <div class="errors" v-else-if="!tags.length" v-cloak>
                        <p class="error-text text-center">У ваc нет тегов.</p>
                    </div>            
                    <ul class="row tags-list" v-else>
                        <li class="col-6 tags-list-item" v-for="i in tags">
                            <a class="tags-list-link" :href="getTagUrl(i)" v-text="'#'+i.name"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="title h3 text-center">Последнии записи</div>
        </header>
        {% include 'components/_records_list.html' %}
    </div>
</div>
{% endblock %}
