{% extends '_base.html' %}

{% block content %} 
<div class="my-progress-bar" id="progress-bar" hidden></div>
<div class="window" id="app">
    <modal id="startGDModal" :title="$t('Connect to Google')" v-cloak>
        <p v-t="'message_sync_GD'"></p>
        <template v-slot:footer="">
            <button class="btn btn-secondary" data-bs-dismiss="modal" @click="isUseGD = false" v-t="'Disable'"></button>
            <button class="btn btn-primary" data-bs-dismiss="modal" onclick="login()" v-t="'Login'"></button>
        </template>
    </modal>
    <modal id="setPassword" :title="$t('Password setting')" v-cloak>
        <label class="form-field">
            <span class="form-label" v-t="'New password'"></span>
            <input class="form-control" v-model="password1" autocomplete="off">
        </label>
        <label class="form-field">
            <span class="form-label" v-t="'New password (again)'"></span>
            <input class="form-control" v-model="password2" autocomplete="off">
        </label>
        <label class="form-field">
            <span class="form-label" v-t="'Security question'"></span>
            <input class="form-control" v-model="question" autocomplete="off">
        </label>
        <label class="form-field">
            <span class="form-label" v-t="'Answer to security question'"></span>
            <input class="form-control" v-model="answer" autocomplete="off">
        </label>
        <small v-t="'message_password_modal'"></small>
        <template v-slot:footer="">
            <button class="btn btn-secondary" data-bs-dismiss="modal" v-t="'Do not change'"></button>
            <button class="btn btn-primary" data-bs-dismiss="modal" @click="setPassword" v-t="'Set'"></button>
        </template>
    </modal>
    <modal id="passwordModal" :title="$t('Unlocking')" notfooter="true" v-cloak>
        <label class="form-field">
            <span class="form-label" v-t="'Password'"></span>
            <input class="form-control" ref="passwordInput" autocomplete="off">
        </label>
        <small v-text="$t('question_text', {q: question})"></small>
    </modal>
    <modal id="editDate" :title="$t('Change date')" v-cloak>
        <label class="form-field">
            <span class="form-label" v-t="'Date'"></span>
            <input class="form-control" type="date" v-model="today">
        </label>
        <template v-slot:footer="">
            <a class="btn btn-primary" data-bs-dismiss="modal" @click="changeDate(today)" v-t="'Go'"></a>
        </template>
    </modal>
    <header class="navbar main-navbar navbar-expand-lg">
        <div class="container navbar-inner">
            <span class="navbar-brand">MyDiary</span>
            <button class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                :aria-label="$t('Toggle navigation')">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#dashboard" v-t="'Homepage'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#search" v-t="'Search'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#other" v-t="'Other'"></a>
                    </li>
                    <li class="nav-item" v-for="i in types">
                        <a class="nav-link" :href="`#type/${i.uuid}`" v-if="i.page_title" v-text="i.page_title"></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container search-page" v-if="options.page == 'search'" v-cloak>
        <h1 class="title text-center" v-t="'Search'"></h1>
        <div class="row justify-content-center">
            <label class="input-group form-field">
                <span class="input-group-text" v-t="'Search'"></span>
                <input class="form-control" type="search" v-model.trim="options.q" @input="update">
            </label>
            <label class="input-group form-field w-auto">
                <span class="input-group-text" v-t="'Type'"></span>
                <select class="form-select" v-model="options.type" @input="update">
                    <option :value="undefined" v-t="'Any'"></option>
                    <option :value="i.uuid" v-for="i in types" v-text="i.title" :key="i.uuid"></option>
                </select>
            </label>
            <label class="input-group form-field w-auto">
                <span class="input-group-text" v-t="'Tag'"></span>
                <select class="form-select" v-model="options.tag" @input="update">
                    <option :value="undefined" v-t="'Any'"></option>
                    <option :value="i" v-if="tags" v-for="i in tags" v-text="'#'+i" :key="i"></option>
                </select>
            </label>       
        </div>
        <hr>
        <records :records="records"></records>
    </div>
    <div class="container tag-page" v-else-if="options.page == 'tag'" v-cloak>
        <header class="navbar records-header mb-2">
            <div class="dropdown tags-menu" v-if="tags && tags.length">
                <a class="dropdown-toggle h1" data-bs-toggle="dropdown" v-text="'#'+options.tag"></a>
                <ul class="dropdown-menu tags-menu-list">
                    <li class="tags-menu-list-item" v-for="i in tags" :key="i">
                        <a class="dropdown-item tags-menu-list-link" v-if="i != options.tag" :href="getTagUrl(i)"
                            v-text="'#'+i"></a>
                    </li>
                </ul>
            </div>
            <div class="h1" v-text="'#'+options.tag" v-else></div>
        </header>
        <records :records="records"></records>
    </div>
    <div class="other-page container" v-else-if="options.page == 'other'" v-cloak>
        <div class="row">
            <section class="col-lg-12 mb-5">
                <h3 class="title" v-t="'Information'"></h3>
                <table class="table">
                    <tr>
                        <td v-t="'Number of record types:'"></td>
                        <td v-text="(types || []).length"></td>
                    </tr>
                    <tr>
                        <td v-t="'Number of tags:'"></td>
                        <td v-text="(tags || []).length"></td>
                    </tr>
                    <tr>
                        <td v-t="'Number of records:'"></td>
                        <td v-text="(allRecords || []).length"></td>
                    </tr>
                </table>
            </section>
            <section class="col-lg-12 mb-5">
                <h3 v-t="'Record types'"></h3>
                <div class="row types-list">
                    <div class="col-md-6 type-preview" v-for="type in types" :key="type.uuid">
                        <i :class="`icon bi-${type.icon}`"></i>
                        <span class="name" v-text="type.title"></span>
                        <small class="description" v-text="type.description"></small>
                        <div class="bottom">
                            <div class="btn-group">
                                <button class="btn btn-primary" @click='DB("put", "types", ({...type, isEnable: false }))'
                                    v-if="type.isEnable" v-t="'Disable'"></button>
                                <button class="btn btn-primary" @click='DB("put", "types", ({...type, isEnable: true }))'
                                    v-else v-t="'Enable'"></button>
                                <button class="btn btn-danger" @click='DB("del", "types", type.uuid)' v-t="'Delete'"></button>
                            </div>
                            <div class="btn-group">
                                <span class="btn btn-primary active" v-text="type.index"></span>
                                <button class="btn btn-primary"
                                    @click='DB("put", "types", ({...type, index: --type.index }))'>-</button>
                                <button class="btn btn-primary"
                                    @click='DB("put", "types", ({...type, index: ++type.index }))'>+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-add-type" @click="addType" v-t="'Load data type'"></button>
            </section>
            <section class="col-lg-6 mb-5">
                <h3 v-t="'Integration with Google Drive'"></h3>
                <label class="form-field form-check">
                    <input class="form-check-input" type="checkbox" v-model="isUseGD">
                    <span class="form-check-label" v-t="'Use GD'"></span>
                </label>
                <label class="form-field input-group">
                    <span class="input-group-text" v-t="'Synchronization interval (minutes)'"></span>
                    <input class="form-control" type="number" v-model="syncInterval">
                </label>
                <button class="btn btn-danger mb-3" @click="deleteFromGD" v-t="'Delete from GD'"></button>
                <div class="small" v-t="'reboot_message'"></div>
            </section>
            <section class="col-lg-6 mb-5">
                <h3 v-t="'Password'"></h3>
                <button class="btn btn-primary mb-5" data-bs-target="#setPassword"
                    data-bs-toggle="modal" v-t="'Install/change/uninstall'"></button>
                <h3 v-t="'Local data'"></h3>
                <button class="btn btn-danger m-1" @click="deleteAll" v-t="'Delete'"></button>
                <button class="btn btn-primary m-1" @click="exportData" v-t="'Export'"></button>
                <button class="btn btn-primary m-1" @click="importData" v-t="'Import'"></button>
            </section>
            <section class="col-lg-12 mb-5">
                <h3 v-t="'About site'"></h3>
                <p v-text="$t('version', {v: '5'})"></p>
                <p v-t="'browser_support'"></p>
                <p v-t="'disclaimer'"></p>
                <a class="link" href="{{ start_url }}/?redirect=off" target="_blank" v-t="'Front page'"></a>
                <a class="link" href="{{ start_url }}/convector.html" target="_blank" v-t="'Convectors'"></a>
                <!--a class="link" href="{{ start_url }}/development.html" target="_blank" v-t="'Documentation'"></a-->
                <a class="link" href="https://github.com/denis-gr/diary" target="_blank" v-t="'Source Code'"></a>
            </section>            
        </div>
    </div>
    <div class="container date-page" v-else-if="options.page == 'date'" v-cloak>
        <header class="records-header mb-2">
            <button class="title h1 btn btn-link" data-bs-target="#editDate" data-bs-toggle="modal">
                <h1 v-text="getFormattedDate(options.date)"></h1>
            </button>
            <button class="btn btn-link align-text-bottom" @click='changeDay(-1)'><</button>
            <button class="btn btn-link align-text-bottom" @click='changeDay(+1)'>></button>
        </header>
        <records :records="records"></records>
    </div>
    <template v-for="i in types" v-else-if="options.page == 'type'" v-cloak>
        <component :is="`page-record-${i.uuid}`" v-if="options.type == i.uuid"></component>
    </template>
    <div class="container dashboard-page" v-else>
        <div class="row text-center">
            <calendar id="calendar" class="col-md-6" :first_date="options.date" v-cloak></calendar>
            <div class="dashboard-tags col-md-6">
                <h3 class="title" v-t="'Tags'"></h3>
                <nav class="tags-list" v-if="tags.length" v-cloak>
                    <a class="tags-list-link" v-for="i in tags" :href="getTagUrl(i)" v-text="i"></a>
                </nav>
                <p class="error-text" v-else v-cloak v-t="'No tags'"></p>
            </div>
        </div>
        <records :records="records"></records>
    </div>
    <div class="creation-menu" id="creation-menu">
        <div class="creation-menu-inner btn-group-vertical">
            <template v-for="i in types">
                <button class="btn btn-outline-secondary" @click="callEditor(i.uuid)"
                    v-if="i.isEnable" :title="i.title">
                    <i :class="`bi-${i.icon} icon`"></i>
                </button>
            </template>
            <button class="btn btn-outline-secondary btn-cls" onclick="toggleCreationMenu()"
                :title="$t('Close')">
                <i class="bi-x icon"></i>
            </button>
        </div>
        <button class="btn btn-outline-secondary btn-opn" onclick="toggleCreationMenu()"
            :title="$t('Open post records menu')">
            <i class="bi-plus icon"></i>
        </button>
    </div>
    <record-editor :type="i" v-for="i in types" :key="i.uuid"></record-editor>
</div>
{% endblock %}

{% block extra_js %}
<script>
    {
        const fun = () => {
            if (!location.hash.length) {
                location.hash = "#dashboard"
            };
            window.options = {};
            const temp = decodeURIComponent(location.hash).split(/[#/]/);
            window.options.page = temp[1];
            window.options[temp[1]] = temp[2];
        };
        window.addEventListener("hashchange", fun);
        fun();
    }
</script>
<div id="templates">
    {% include 'components/_components.html' %}
    {% include 'components/_record_components.html' %}
    {% include 'components/_default_record_types.html' %}
</div>
<script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/locale/ru.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/idb@6/build/iife/index-min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue-i18n@9/dist/vue-i18n.global.js" defer></script>
<script src="https://apis.google.com/js/api.js" defer></script>
<script src="{{ start_url }}/static/js/google.js" defer></script>
<script src="{{ start_url }}/static/js/base.js" defer></script>
<script src="{{ start_url }}/static/js/db.js" defer></script>
<script src="{{ start_url }}/static/js/vue.js" defer></script>
<script src="{{ start_url }}/static/ckeditor5/build/ckeditor.js" defer></script>
<script src="{{ start_url }}/static/ckeditor5/build/translations/ru.js" defer></script>
<script src="{{ start_url }}/static/ckeditor5/script.js" defer></script>
{% endblock %}