{% extends '_base.html' %}

{% block content %}
{% include 'components/_components.html' %}
<div class="min-vh-100 py-3" id="app">



            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#review">
                    Информация о дневнике
                </button>
            </h2>
            <div id="review" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <h3>Информация</h3>
                    <table class="table col-md mb-2">
                        <tr>
                            <td>Количество типов записей: </td>
                            <td v-text="countTypes"></td>
                        </tr>
                        <tr>
                            <td>Количество тегов: </td>
                            <td v-text="countTags"></td>
                        </tr>
                        <tr>
                            <td>Количество записей: </td>
                            <td v-text="countRecords"></td>
                        </tr>
                    </table>
                </div>
            </div>
        
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#createType">
                    Типы записей
                </button>
            </h2>
            <div id="createType" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <modal title="Загрузить тип" id="createTypeModal">
                        <div class="form-field">
                            <label for="inputTemplate">Настройки модуля (JSON)</label>
                            <textarea class="form-control" id="inputTemplate" v-model="json"></textarea>
                        </div>
                        <template v-slot:footer>
                            <button class="btn btn-primary" data-bs-dismiss="modal" @click="load_type()" type="button">
                                Загрузить
                            </button>
                        </template>
                    </modal>
                    <h3>Типы записей</h3>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                        data-bs-target="#createTypeModal">
                        Добавить тип
                    </button>
                    <div class="row" v-if="types.length">
                        <div class="col-sm-6 pb-5" v-for="type in types">
                            <header>
                                <i :class="['icon', 'bi-'+type.icon]"></i>
                                <span class="h5" v-text="type.title"></span>
                            </header>
                            <div class="col mb-2" v-text="type.description"></div>
                            <button class="btn btn-primary" type="button" @click="remove(type)">Удалить</button>
                        </div>
                    </div>
                    <div v-else>У вас либо нет типов записей, либо они не загруженны.</div>
                </div>
            </div>
            
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#dataManagement">
                    Импорт, экспорт и удаление данных
                </button>
            </h2>
            <div id="dataManagement" class="accordion-collapse collapse">
                <modal title="Удалить все данные" id="deleteAllData">
                    Вы уверенны, что хотите удалить все данные?
                    <template v-slot:footer>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            @click="deleteAll()">Да</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Нет</button>
                    </template>
                </modal>
                <modal title="Вы хотите импортировать данные" id="importData">
                    <div v-if="isValidJSON">
                        Вы уверенны, что хотите импортировать данные?
                    </div>
                    <div v-else>
                        Данные не верны.
                    </div>
                    <template v-slot:footer>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="importJSON()"
                            v-if="isValidJSON">Да</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Назад</button>
                    </template>
                </modal>
                <div class="accordion-body">
                    <h3>Импорт и экспорт</h3>
                    <textarea class="form-control mb-2" v-model="json"
                        placeholder="Здесь будут или должны быть ваши данные в формате JSON"></textarea>
                    <div class="flex flex-wrap justify-content-between">
                        <button class="btn btn-danger mr-2 mb-2" :class="{disabled: is_delete_bnt_disabled}"
                            type="button" data-bs-toggle="modal" data-bs-target="#deleteAllData">Удалить данные</button>
                        <button class="btn btn-primary mr-2 mb-2" :class="{disabled: is_export_bnt_disabled}"
                            type="button" @click="exportJSON()">Экспортировать</button>
                        <button class="btn btn-primary mr-2 mb-2" :class="{disabled: is_import_bnt_disabled}"
                            type="button" data-bs-toggle="modal" data-bs-target="#importData">Импортировать</button>
                        <button class="btn btn-primary mb-2" type="reset" @click="clearJSON()">Очистить</button>
                    </div>
                </div>
            </div>
        
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Other">
                    Другое
                </button>
            </h2>
            <div id="Other" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a class="link" href="">Первая главная страница</a>
                    <a class="link" href="">О сайте</a>
                    <a class="link" href="">Документация</a>
                </div>
            </div>
        </div>



















</div>
<script src="https://cdn.jsdelivr.net/npm/idb@6/build/iife/index-min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js" defer></script>
<script src="{{ start_url }}/static/js/db.js" defer></script>
<script src="{{ start_url }}/static/js/main_components.js" defer></script>
<script src="{{ start_url }}/static/js/vue_other_page.js" defer></script>
{% endblock %}