{% extends '_base.html' %}

{% block content %}

<div class="min-vh-100 py-3">
    <div class="container page" id="app">
        <p class="error-text">У вас, либо нет такой, либо они не загружена.</p>
    </div>
</div>

{% include 'components/_creation_menu.html' %}
{% include 'components/_components.html' %}
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/idb@6/build/iife/index-min.js"></script>
<script src="{{ start_url }}/static/js/db.js"></script>
<script src="{{ start_url }}/static/js/base.js"></script>
<script>
    if (options.type) {
        DB.getType(options.type).then(type =>
            document.querySelector("#app").innerHTML = type.page.template
        );
    }    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/locale/ru.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js" defer></script>
<script src="{{ start_url }}/static/js/main_components.js" defer></script>
<script src="{{ start_url }}/static/js/record_components.js" defer></script>
<script src="{{ start_url }}/static/js/vue_components.js" defer></script>
{% endblock %}