body {
  --ck-z-default: 100;
  --ck-z-modal: calc( var(--ck-z-default) + 999 ); }

.ck-content .table {
  width: auto; }

.first-page .block {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.first-page .block-inner {
  background-color: rgba(0, 0, 0, 0.5); }

.creation-menu {
  position: fixed;
  width: 50px;
  bottom: 30px;
  right: 30px;
  z-index: 1; }
  .creation-menu .btn {
    display: inline-block;
    height: 50px;
    width: 50px; }
  .creation-menu .creation-menu-inner {
    display: none; }
  .creation-menu.show .creation-menu-inner {
    display: block; }
  .creation-menu.show .btn-opn {
    display: none; }

.records {
  margin: 30px 0; }
  .records .records-list {
    list-style: none;
    padding: 0; }

.record .record-preview {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px; }
  .record .record-preview .icon {
    font-size: medium;
    line-height: 0.05rem;
    vertical-align: top; }
  .record .record-preview .left {
    text-align: center;
    display: inline-block;
    padding: 0 5px;
    position: absolute;
    top: 0.5rem;
    height: 15px;
    left: 0; }
  .record .record-preview .right {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .record .record-preview .right .date, .record .record-preview .right .tag {
    margin-right: 10px; }

.calendar {
  min-width: max-content; }
  .calendar .day-row {
    font-size: 0; }
  .calendar .weekday, .calendar .day {
    display: inline-block;
    box-sizing: content-box;
    width: 1.6rem;
    height: 1.6rem;
    margin: 2px 2px;
    padding: 0.5rem; }

.dashboard-tags .tags-list .tags-list-link {
  word-wrap: break-word;
  font-size: x-large;
  margin: 10px; }

.form-field .autosize-textarea {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 1.5rem;
  font-family: inherit; }

.text-to-borders {
  white-space: pre-wrap;
  word-wrap: break-word; }

[v-cloak] {
  display: none; }

.my-progress-bar {
  position: fixed;
  height: 2px;
  top: 0;
  background: red;
  width: 10%;
  z-index: 10;
  animation: my-animation 3s infinite linear; }

@keyframes my-animation {
  0% {
    left: 0; }
  100% {
    left: 90%; } }

.types-list .bottom {
  margin: 10px 0; }
  .types-list .bottom .btn-group {
    margin-right: 5px;
    margin-bottom: 5px; }

.load-text, .error-text {
  text-align: center; }

.main-navbar {
  margin-bottom: 1rem; }

.convector-page {
  margin-bottom: 2rem; }

.window {
  min-height: 100vh;
  padding-bottom: 1rem; }

.form-field {
  width: 100%; }

.first-page .block-inner {
  text-align: center; }

.first-page .start-btn {
  color: white;
  font-size: calc(1.375rem + 1.5vw); }

.page-title {
  font-size: calc(1.3rem + .6vw);
  text-align: center; }

.type-preview {
  margin-bottom: 1rem; }
  .type-preview .name {
    font-size: 1.25rem;
    font-weight: bold; }

.block-inner {
  text-align: center; }

.block-inner .start-btn {
  font-size: xxx-large; }

.other-page .link {
  margin-right: 1rem; }
